* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

#root{
  background-color: rgb(12, 12, 12);
  height: 100vh;
  color: white;
  padding: 15px;
}

.card{
  height: 200px;
  width: 150px;
  background-color: #414141;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.cards{
  flex-wrap: wrap;
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

form{
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color:cadetblue;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  width: fit-content;
  padding: 7px 20px;
  outline: none;
  background-color: brown;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

form input{
outline: none;
border: none;
padding: 10px;
border-radius: 10px;
}
