@font-face {
  font-family: f1;
  src: url(./Bartkey-8M0YA.otf);
}
@font-face {
  font-family: f2;
  src: url(./Hexaplex.otf);
}
@font-face {
  font-family: f3;
  src: url(./fonnts.com-Apotek_ExtraWide_Regular.otf);
}


@mixin flex-center($gap:0){
    display: flex;
    align-items: center;
    justify-content: center;
    gap:$gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #111111;
}

main{
    
    margin: 2rem;
    font-family: f2;
    color: white;
    background-color: #111111;

    nav{
        @include flex-center();
        justify-content: space-between;
        p{
        font-size: 2rem;
        font-weight: 600;

        i{
        font-size: 0.5rem;
        color: orange;}}

        .circle{
            padding: 0.7rem;
            width: fit-content;
            align-items: center;
            border-radius: 50%;
            border: 2px solid white;
            display: grid;
            grid-template-columns: 10px 10px;
            grid-template-rows: 10px 10px;
            grid-template-areas: "10 10"
            "10 10"; 
            grid-gap: 5px;

            i{
                font-weight: 200;
                color: white;
            }  

            p{
                font-size: 0.3rem;
            }
            }

            .btn{
                button{
                font-family: f2;
                border-radius: .6rem;
                padding: 0.7rem 1.2rem;
                color: white;
                border:2px solid white;
                outline: none;
                font-size:1rem ;
                background: transparent;         
            }
        }
    }
    .section1{
        background-color: #222121;
        padding: 2rem;
        padding-bottom: 0px;
        border-radius: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 1rem;
        .bottom{
             width: 50%;
             display: flex;
            justify-content: flex-end;
             .img{
                image{
                    width: 556px;
                }
             }
            .txt{
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding-bottom: 5rem;
                .up{
                    display: flex;
                    gap: 0.5rem;
                    p{
                        font-size: 2.5rem;
                    }
                    i{
                        font-size: 1rem;
                    }
                }
                .down{
                    display: flex;
                    justify-content: center;
                    p{
                        width: 100%;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
        .top{
            width: 50%;
            @include flex-center(1.5rem);
            flex-direction: column;
            align-items: flex-start;
            .work{
               @include flex-center(0.5rem);
               justify-content: flex-start;
                p{
                    font-size: 1rem;
                    font-weight: 100;
                }
                i{
                    color: orange;
                    font-size: 0.5rem;
                }
            }
            .Big{
                .mid{
                    font-size: 6.3rem;
                }
                .short{
                    font-size: 1.5rem;
                    font-weight: 100;
                    color: rgba(207, 207, 207, 0.733);
                }
            }
            .btm{
                p{
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 1rem;
                    width: 90%;
                    text-transform: uppercase;
                    color: rgb(204, 204, 204);
                }
                i{
                    font-size: 4rem;
                    color: rgba(247, 148, 0, 0.555);
                }
            }
        }
    }
    .section2{
        padding: 2rem;
        padding-top: 4rem;
        .top{
            
            width: clamp(65%,70%,80%);
            font-family: f3;
            height: 35%;
            
            .smp{
                font-size: 1.1rem;
                padding-bottom: 1rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
            span{
                font-size: 3.5rem;
                color: rgba(255, 255, 255, 0.171);
            }
            .s1{
                color: white;
            }
        }
        .bottom{
            height: 65%;
            .boxs{
                // background-color: aquamarine;
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                .box{
                    width: 25%;
                    padding-top: 1rem;
                    display: flex;
                    .line{
                        background-color: white;
                        height: 40vh;
                        width: 1px;
                        margin-right:10px ;
                    }
                    .container{
                        width: 100%;
                    .top{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 0.5rem;
                        height: 25%;
                        .up{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .bottom{
                        height: 75%;
                        .box1{
                          height: 50%;  
                          background-color: #292929;
                          @include flex-center();
                          font-size: 2.5rem;
                        }
                        .box2{
                            height: 50%;    
                            background-color: #3d3d3d;
                            .insider{
                                width: 90%;
                                height: 100%;
                                background-color: rgba(255, 68, 0, 0.932);
                            }
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    .section2{
        .bottom{
            .boxs{
                .box2{
                    .container{
                        .bottom{
                            .box2{
                                .insider{
                                    width: 75%;
                                    background: gray;
                                }
                            }
                        }
                    }
                }
                .box3{
                    .container{
                        .bottom{
                            .box2{
                                .insider{
                                    width: 90%;
                                    background: gray;
                                }
                            }
                        }
                    }
                }
                .box4{
                    .container{
                        .bottom{
                            .box2{
                                .insider{
                                    width: 85%;
                                    background: gray;
                                }
                            }
                        }
                    }
                }
            }
        }   
    }
}