.posts{
    height: 100vh;
    // width: fit-content;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .post{
        // position: absolute;
        height: 350px;
        width: 280px;
        display: flex;
        flex-direction: column;
        background-color: rgba(161, 161, 161, 0.568);
        border-radius: 10px;
        border: 1px solid rgba(192, 192, 192, 0.397);
        .upper{
            padding-inline: 5px;
            padding-top: 6px;
            padding-bottom: 6px;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            .imgWrapper{
                img{
                    border-radius: 50%;
                }
            }
            p{
                font-size: 18px;
                color: black;
                font-weight: 600;
            }
        }
        .middle{
            img{
                height: 240px;
                width: 240px;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            padding: 6px;
            width: 100%;
            .up{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-inline: 12px;
                button{
                    text-decoration: none;
                    outline: none;
                    border: none;
                    background: transparent;
                    height: 20px;
                    width: 20px;
                }
                .left{
                    display: flex;
                    gap: 8px;
                }
            }
            .down{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                color: black;
                padding-left:10px;
            }
        }
    }
}

.like{
    color: red;
}

.button{
    background-color: #bd0c23;
        color: whitesmoke;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    form{
        margin-top: 1rem;
        border:1px solid #bd0c23;
        border-radius: 10px;
        padding: 15px;
        height: 240px;
        width: 250px;
        background-color: rgba(194, 77, 77, 0.315);
        display: flex;
        gap: 6px;
        flex-direction: column;

        .labelBtn{
            background-color: #bd7a83;
            padding: 10px 10px 0px 10px;
            font-size: 0.8rem;
            height: 2rem;
            width: 100%;
            border-radius: 16px;
            font-weight: bold;
            text-align: center;
        }
        input{
            padding: 10px;
            border: none;
            background-color: #d6cccd;
            border-radius: 16px;
        }
    }
}