.nav-Container{
    // position: relative;
    z-index: 10;
    top: 0px;
    position: sticky;
    padding: 10px 0px 10px 0px;
    width: 100vw;
    background-color: rgba(150, 131, 131, 0.753);
    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        h2{
            cursor: pointer;
        }
    }
    .button{
        background-color: #bd0c23;
        color: whitesmoke;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
}