* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: black;
}
h1{
    color: white;
    font-size: 3rem;
}

button{
    font-size: 2rem;
    text-decoration: none;
    background-color: gold;
    color: black;
    border: 2px solid white;

}