@font-face {
  font-family: f1;
  src: url(./Bartkey-8M0YA.otf);
}
@font-face {
  font-family: f2;
  src: url(./Hexaplex.otf);
}
@font-face {
  font-family: f3;
  src: url(./fonnts.com-Apotek_ExtraWide_Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111111;
}

main {
  margin: 2rem;
  font-family: f2;
  color: white;
  background-color: #111111;
}
main nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  justify-content: space-between;
}
main nav p {
  font-size: 2rem;
  font-weight: 600;
}
main nav p i {
  font-size: 0.5rem;
  color: orange;
}
main nav .circle {
  padding: 0.7rem;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 10px 10px;
  grid-template-rows: 10px 10px;
  grid-template-areas: "10 10" "10 10";
  grid-gap: 5px;
}
main nav .circle i {
  font-weight: 200;
  color: white;
}
main nav .circle p {
  font-size: 0.3rem;
}
main nav .btn button {
  font-family: f2;
  border-radius: 0.6rem;
  padding: 0.7rem 1.2rem;
  color: white;
  border: 2px solid white;
  outline: none;
  font-size: 1rem;
  background: transparent;
}
main .section1 {
  background-color: #222121;
  padding: 2rem;
  padding-bottom: 0px;
  border-radius: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 1rem;
}
main .section1 .bottom {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
main .section1 .bottom .img image {
  width: 556px;
}
main .section1 .bottom .txt {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5rem;
}
main .section1 .bottom .txt .up {
  display: flex;
  gap: 0.5rem;
}
main .section1 .bottom .txt .up p {
  font-size: 2.5rem;
}
main .section1 .bottom .txt .up i {
  font-size: 1rem;
}
main .section1 .bottom .txt .down {
  display: flex;
  justify-content: center;
}
main .section1 .bottom .txt .down p {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
main .section1 .top {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}
main .section1 .top .work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  justify-content: flex-start;
}
main .section1 .top .work p {
  font-size: 1rem;
  font-weight: 100;
}
main .section1 .top .work i {
  color: orange;
  font-size: 0.5rem;
}
main .section1 .top .Big .mid {
  font-size: 6.3rem;
}
main .section1 .top .Big .short {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(207, 207, 207, 0.733);
}
main .section1 .top .btm p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  width: 90%;
  text-transform: uppercase;
  color: rgb(204, 204, 204);
}
main .section1 .top .btm i {
  font-size: 4rem;
  color: rgba(247, 148, 0, 0.555);
}
main .section2 {
  padding: 2rem;
  padding-top: 4rem;
}
main .section2 .top {
  width: 70%;
  font-family: f3;
  height: 35%;
}
main .section2 .top .smp {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main .section2 .top span {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.171);
}
main .section2 .top .s1 {
  color: white;
}
main .section2 .bottom {
  height: 65%;
}
main .section2 .bottom .boxs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
main .section2 .bottom .boxs .box {
  width: 25%;
  padding-top: 1rem;
  display: flex;
}
main .section2 .bottom .boxs .box .line {
  background-color: white;
  height: 40vh;
  width: 1px;
  margin-right: 10px;
}
main .section2 .bottom .boxs .box .container {
  width: 100%;
}
main .section2 .bottom .boxs .box .container .top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  height: 25%;
}
main .section2 .bottom .boxs .box .container .top .up {
  display: flex;
  justify-content: space-between;
}
main .section2 .bottom .boxs .box .container .bottom {
  height: 75%;
}
main .section2 .bottom .boxs .box .container .bottom .box1 {
  height: 50%;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2.5rem;
}
main .section2 .bottom .boxs .box .container .bottom .box2 {
  height: 50%;
  background-color: #3d3d3d;
}
main .section2 .bottom .boxs .box .container .bottom .box2 .insider {
  width: 90%;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.932);
}

main .section2 .bottom .boxs .box2 .container .bottom .box2 .insider {
  width: 75%;
  background: gray;
}
main .section2 .bottom .boxs .box3 .container .bottom .box2 .insider {
  width: 90%;
  background: gray;
}
main .section2 .bottom .boxs .box4 .container .bottom .box2 .insider {
  width: 85%;
  background: gray;
}/*# sourceMappingURL=style.css.map */