@mixin button-style($bg-color:yellow,$color:black,$text-size,$text-weight){
    padding:20px 30px;
    background-color: $bg-color;
    color:$color;
    font-size:$text-size;
    font-weight:$text-weight;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: 10px;
  }