@import 'button';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body {
  height: 100%;
  width: 100%;
}


@mixin flexcenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}


.red{
@include button-style(red,white,24px,600);
}

.blue{
  @include button-style(blue,white,24px,600 )
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: black;

  section{
    background-color: violet;
    border: 2px solid white;
    height: 100%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    transition: all 0.7s linear;
  }

  section:hover{
    flex-grow: 2.5;
  }


  section:nth-child(1){
    background-image: url(https://i.pinimg.com/736x/7f/b0/5d/7fb05de0101d97d1e2631757b5370d78.jpg);
  }
  section:nth-child(2){
    background-image: url(https://i.pinimg.com/736x/85/11/f1/8511f10498aa7f8531b95b74f15763e2.jpg);
  }
  section:nth-child(3){
    background-image: url(https://i.pinimg.com/1200x/40/03/b3/4003b3673874d1a9cb87e53e67bea022.jpg);
  }
  section:nth-child(4){
    background-image: url(https://i.pinimg.com/736x/7d/ae/2d/7dae2d4f5b9000c3dad5726e7fa92119.jpg);
  }
  section:nth-child(5){
    background-image: url(https://i.pinimg.com/1200x/45/16/1c/45161ce4c687b796227d23cb0bf8e31c.jpg);
  }
  
}